<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.bootcss.com/Buttons/2.0.0/css/buttons.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <title>主页</title>
</head>
<body>
<div class="container" style="font-weight: normal;text-align: center;margin-top: 100px">
    <a href="home" class="button button-primary button-rounded button-jumbo">存款</a>
    <a href="home" class="button button-primary button-rounded button-jumbo">取款</a>
    <button class="button button-primary button-rounded button-jumbo">挂失</button>
    <button class="button button-primary button-rounded button-jumbo">销户</button>
</div>
<div class="container" style="font-weight: normal;text-align:center;margin-top:50px">
    <a href="cards/modifyPassword" id="modifyPassword"
       class="button button-caution button-rounded button-jumbo">修改密码</a>
    <button id="resetPassword" class="button button-caution button-rounded button-jumbo">重置密码</button>
</div>

<script>
    $('#resetPassword').click(() => {
        $.ajax({
            type: 'POST',
            url: 'cards/resetPassword',
            async: false,
            success: () => {
                alert('已重置密码！');
            },
            error: () => {
                alert("网络连接出错！");
            }
        });
    });
</script>

</body>
</html>