<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!--jQuery-->
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>

    <!--Bootstrap core CSS-->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!--Bootstrap core JavaScript-->
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <title>登录</title>
</head>

<body>
<div class="container" style="font-weight: normal;max-width: 400px;margin: 150px auto;">
    <h2>请输入</h2>
    <form id="login_form">
        <div style="margin-top: 12px"></div>
        <input type="text" name="cardNum" id="cardNum" class="form-control" placeholder="银行卡号" required autofocus>
        <div style="margin-top: 10px"></div>
        <input type="password" name='password' id="password" class="form-control" placeholder="密码" required>
        <div style="margin-top: 15px"></div>
        <input id="submit" type="button" value="登录" class="btn btn-lg btn-primary btn-block"/>
    </form>
</div>

<script>
    $('#submit').click(() => {
        $.ajax({
            type: 'POST',
            url: 'login',
            data: $('#login_form').serialize(),
            async: false,
            success: (res) => {
                if (res === 'pass') {
                    $(location).attr('href', 'cards/allCards');
                } else {
                    alert("银行卡号或密码错误！");
                }
            },
            error: () => {
                alert("网络连接出错！");
            }
        });
    });
</script>
</body>
</html>
