<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--jQuery-->
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <!--Bootstrap-->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <title>修改密码</title>
    <style>
        a {
            text-decoration: none;
            color: #000000;
        }
    </style>
</head>
<body>

<div class="container" style="font-weight: normal;max-width: 400px;margin: 100px auto;">
    <form id="modify_pass_form">
        <div>
            <h4>原密码</h4>
            <input type="password" id="oldPass" name="oldPass" class="form-control" required autofocus title="oldPass">
        </div>
        <div style="margin-top: 20px">
            <h4>新密码</h4>
            <input type="password" id="newPass" name="newPass" class="form-control" required>
        </div>
        <div style="margin-top: 20px">
            <h4>确认新密码</h4>
            <input type="password" id="nextNewPass" name="nextNewPass" class="form-control" required/>
        </div>
        <div style="text-align: center;margin: 25px auto;">
            <input type="button" id="confirm" value="确认" class="btn btn-primary btn-block"/>
            <a href="../home" type="button" class="btn  btn-primary btn-block">取消</a>
        </div>
    </form>
</div>

<script>
    $('#confirm').click(() => {
        const oldPass = $('#oldPass').val();
        const newPass = $('#newPass').val();
        const nextNewPass = $('#nextNewPass').val();
        if (newPass !== nextNewPass) {
            alert('输入的新密码不一致！');
            return;
        }
        $.ajax({
            type: 'POST',
            url: 'modifyPassword',
            contentType: "application/json;charset=utf-8",
            data: "{\"oldPass\":\"" + oldPass + "\",\"newPass\":\"" + newPass + "\"}",
            async: false,
            success: (res) => {
                alert(res);
                $('#oldPass').val('');
                $('#newPass').val('');
                $('#nextNewPass').val('');
            },
            error: () => {
                alert("网络连接出错！");
            }
        })
    });
</script>

</body>
</html>